[bumpversion]
current_version = 1.2.2
commit = True
tag = True

[bumpversion:part:major]
first_value = 0

[bumpversion:part:minor]
first_value = 0

[bumpversion:part:patch]
first_value = 0

[bumpversion:file:__init__.py]
